<!DOCTYPE html>
<html lang="en" ng-app="quinntenfuller">

<head>
    <!--<script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '449676562045541',
                cookie     : true,
                xfbml      : true,
                version    : 'v2.8'
            });
            FB.AppEvents.logPageView();   
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    </script>-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Intercom</title>

    <!-- Wow.js -->
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Animations -->
    <link rel="stylesheet" href="css/animate.css">

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- Date Picker -->
    <script src="js/scripts/datetimepicker/angular-datepicker.js"></script>
    <link href="css/angular-datepicker.css" rel="stylesheet">

    <!-- Routing -->
    <script src="js/scripts/routing/angular-route.min.js"></script>
    <script src="js/scripts/routing/angular-ui-router.js"></script>

    <!-- Ng Toast -->
    <link rel="stylesheet" href="plugins/ng-toast/dist/ngToast.min.css">
    <link rel="stylesheet" href="plugins/ng-toast/dist/ngToast-animations.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
    <script src="plugins/ng-toast/dist/ngToast.min.js"></script>

    <!-- Loading Bar -->
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>

    <!-- Facebook Share -->
    <script src="https://connect.facebook.net/en_US/all.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="js/scripts/ui-bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

    <!-- Models -->
    <script src="app/Models/Blog.js"></script>
    <script src="app/Models/Clientele.js"></script>

    <!-- Modules -->
    <script src="app/Modules/QuinntenFuller.js"></script>

    <!-- Controllers -->
    <script src="app/Pages/About/AboutController.js"></script>
    <script src="app/Pages/Blogs/AddEditBlogModalController.js"></script>
    <script src="app/Pages/Blogs/BlogsController.js"></script>
    <script src="app/Pages/Blogs/FullBlogController.js"></script>
    <script src="app/Pages/Contact/ContactController.js"></script>
    <script src="app/Pages/Clientele/ClienteleController.js"></script>
    <script src="app/Pages/ReachMore/ReachMoreController.js"></script>
    <script src="app/Pages/Services/ServicesController.js"></script>
    <script src="app/Pages/Team/TeamController.js"></script>
    <script src="app/Modal/DisplayConfirmationModalController.js"></script>
    <script src="app/Main/MainController.js"></script>
    <script src="app/Modal/NewClienteleModalController.js"></script>
    <script src="app/Modal/NewSEOModalController.js"></script>

    <!-- Services -->
    <script src="app/Services/Constants.js"></script>
    <script src="app/Services/EmailService.js"></script>
    <script src="app/Services/LoginService.js"></script>
    <script src="app/Services/ModalService.js"></script>
    <script src="app/Services/MyFirebaseRef.js"></script>

    <script src="app/Routing/Routing.js"></script>
    
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js"></script>

    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>

    <!-- Google Suite Verication --> 
    <meta name="google-site-verification" content="rnJh87f7yFkSY6K7d5mGy7KfgzW0kC7XW49OQELPBiM"/>

    <!-- Google Maps API, (being used on Contact Page) -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMLp_IZVGyxBWpC2aORWLXxTNDHUl4waw">
    </script>
    <script>
        $(document).ready(function () {
            function initialize(){
                var intercomLocation = new google.maps.LatLng(25.7325583, -80.3045904);
                var mapOptions = {
                    center: intercomLocation,
                    zoom: 16
                };
                var map = new google.maps.Map(document.getElementById("map"), mapOptions);
                var marker = new google.maps.Marker({
                    position: intercomLocation,
                    map: map
                });

            }
            google.maps.event.addDomListener(window, 'load', initialize);
        });
    </script>
</head>

<body id="page-top" class="index" ng-controller="MainController as vm">
    <toast style="margin-top: 20px"></toast>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" ng-click="vm.incrementClickCount()" ng-style="vm.isOnBlogPage && {'cursor':'default'}">Intercom Marketing {{ vm.isOnBlogPage ? '- Blog' : '' }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="" ng-show="vm.isOnBlogPage" ng-click="vm.home()">Back To Main Page</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#reachMore" ng-hide="vm.isOnBlogPage">Reach More</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about" ng-hide="vm.isOnBlogPage">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services" ng-hide="vm.isOnBlogPage">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#clientele" ng-hide="vm.isOnBlogPage">Clientele</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team" ng-hide="vm.isOnBlogPage">Meet The Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#blogs" ng-hide="vm.isOnBlogPage">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact" ng-hide="vm.isOnBlogPage">Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div ui-view="">
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

</body>

</html>
