    <section id="reachMore" class="wow slideInLeft">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">
                        Reach More
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="text-muted">
                        Successful businesses leverage their digital channels such as e-mail, search engines, social media, and web content to reach both prospective and current customers. Here at Intercom, we implement strong practices to increase visibility, search-ability, engagement, and your bottom line.
                    </p>
                </div>
            </div>
            <div class="row">
                <!-- SEO -->
                <div class="col-lg-2 text-center">
                    <span class="fa-stack fa-4x cursor-pointer" 
                        ng-click="vm.scroll('#intercomSearchEngineOptimzation')">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <p>Intercom Search Engine Optimization</p>
                </div>
                <!-- Paid Search Marketing -->
                <div class="col-lg-2 text-center">
                    <span class="fa-stack fa-4x cursor-pointer" 
                        ng-click="vm.scroll('#paidSearchMarketing')">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                    </span>
                    <p>Paid Search Marketing</p>
                </div>
                <!-- Social Media Marketing -->
                <div class="col-lg-2 text-center">
                    <span class="fa-stack fa-4x cursor-pointer" 
                        ng-click="vm.scroll('#socialMediaMarketing')">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    <p>Social Media Marketing</p>
                </div>
                <!-- Digital Analytics -->
                <div class="col-lg-2 text-center">
                    <span class="fa-stack fa-4x cursor-pointer" 
                        ng-click="vm.scroll('#digitalAnalytics')">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <p>Digital Analytics</p>
                </div>
                <!-- Content Marketing -->
                <div class="col-lg-2 text-center">
                    <span class="fa-stack fa-4x cursor-pointer" 
                        ng-click="vm.scroll('#contentMarketing')">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <p>Content Marketing</p>
                </div>
                <!-- Email Marketing -->
                <div class="col-lg-2 text-center">
                    <span class="fa-stack fa-4x cursor-pointer" 
                        ng-click="vm.scroll('#emailMarketing')">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <p>Email Marketing</p>
                </div>
            </div>
        </div>
    </section>