    <section id="reachMore">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">
                        Reach More
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="text-muted">
                        Successful businesses leverage their digital channels such as e-mail, search engines, social media, and web content to reach both prospective and current customers. Here at Intercom, we implement strong practices to increase visibility, search-ability, engagement, and your bottom line.
                    </p>
                </div>
            </div>
            <div class="row">
                <!-- SEO -->
                <div class="col-lg-2 text-center">
                    <span class="fa-stack fa-4x cursor-pointer" 
                        ng-click="vm.scroll('#intercomSearchEngineOptimzation')"
                        data-toggle="tooltip" title="Intercom Search Engine Optimization"
                        data-placement="bottom">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <!-- Paid Search Marketing -->
                <div class="col-lg-2 text-center">
                    <span class="fa-stack fa-4x cursor-pointer" 
                        ng-click="vm.scroll('#paidSearchMarketing')"
                        data-toggle="tooltip" title="Paid Search Marketing"
                        data-placement="bottom">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <!-- Social Media Marketing -->
                <div class="col-lg-2 text-center">
                    <span class="fa-stack fa-4x cursor-pointer" 
                        ng-click="vm.scroll('#socialMediaMarketing')"
                        data-toggle="tooltip" title="Social Media Marketing"
                        data-placement="bottom">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile-phone fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <!-- Digital Analytics -->
                <div class="col-lg-2 text-center">
                    <span class="fa-stack fa-4x cursor-pointer" 
                        ng-click="vm.scroll('#digitalAnalytics')"
                        data-toggle="tooltip" title="Digital Analytics"
                        data-placement="bottom">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <!-- Content Marketing -->
                <div class="col-lg-2 text-center">
                    <span class="fa-stack fa-4x cursor-pointer" 
                        ng-click="vm.scroll('#contentMarketing')"
                        data-toggle="tooltip" title="Content Marketing"
                        data-placement="bottom">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <!-- Email Marketing -->
                <div class="col-lg-2 text-center">
                    <span class="fa-stack fa-4x cursor-pointer" 
                        ng-click="vm.scroll('#emailMarketing')"
                        data-toggle="tooltip" title="Email Marketing"
                        data-placement="bottom">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </div>
        </div>
    </section>