<div class="modal-header">
    <div class="col-xs-12">
        <h3 class="modal-title text-center pull-left">{{ vm.confirmationHeader }}</h3>
        <span class="fa-stack fa-1x pull-right">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i ng-click="vm.cancel()" class="fa fa-close fa-stack-1x fa-inverse cursor-pointer"></i>
        </span>
    </div>
</div>
<div class="modal-body text-center">
    <strong>{{ vm.confirmationMessage }}</strong>
</div>
<div class="modal-footer">
    <div>
        <button class="btn btn-danger" ng-click="vm.confirm()">Yes</button>
    </div>
</div>
