<div class="modal-header">
    <div class="col-xs-12">
        <h3 class="modal-title text-center pull-left">{{ vm.isEdit ? 'Update' : 'New' }} Clientele</h3>
        <span class="fa-stack fa-1x pull-right">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i ng-click="vm.cancel()" class="fa fa-close fa-stack-1x fa-inverse cursor-pointer"></i>
        </span>
    </div>
</div>
<div class="modal-body">
    <ng-form name="clienteleForm" id="clienteleForm" novalidate>
        <!-- Text -->
        <div class="row">
            <div class="col-xs-12">
                <div ng-class="{ 'has-error' : clienteleForm.text.$invalid && (clienteleForm.text.$dirty || vm.attemptedSend)}">
                    <textarea ng-model="vm.clientele.text" 
                        id="text"
                        name="text"
                        class="form-control"
                        placeholder="Info about Clientele"
                        required>
                    </textarea>
                </div>
            </div>
        </div>
        <br>
        <!-- Category -->
        <div class="row">
            <div class="col-xs-12">
                <div ng-class="{ 'has-error' : clienteleForm.category.$invalid && (clienteleForm.category.$dirty || vm.attemptedSend)}">
                    <input ng-model="vm.clientele.category" 
                        id="category"
                        name="category"
                        class="form-control"
                        placeholder="Category"
                        required></input>
                </div>
            </div>
        </div>
        <br>
        <!-- Date -->
        <div class="row">
            <div class="col-xs-12">
                <div ng-class="{ 'has-error' : clienteleForm.date.$invalid && (clienteleForm.date.$dirty || vm.attemptedSend)}">
                    <div class="datepicker" date-format="MMM dd, yyyy" date-month-title="selected year" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                        <input ng-model="vm.clientele.date" 
                            id="date"
                            name="date"
                            class="form-control" 
                            placeholder="Date"
                            readonly
                            required/>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- Twitter Link -->
        <div class="row">
            <div class="col-xs-12">
                <div ng-class="{ 'has-error' : clienteleForm.twitterLink.$invalid && (clienteleForm.twitterLink.$dirty || vm.attemptedSend)}">
                    <input ng-model="vm.clientele.twitterLink" 
                        id="twitterLink"
                        name="twitterLink"
                        class="form-control"
                        placeholder="Twitter Link"
                        required></input>
                </div>
            </div>
        </div>
        <br>
        <!-- Facebook Link -->
        <div class="row">
            <div class="col-xs-12">
                <div ng-class="{ 'has-error' : clienteleForm.facebookLink.$invalid && (clienteleForm.facebookLink.$dirty || vm.attemptedSend)}">
                    <input ng-model="vm.clientele.facebookLink" 
                        id="facebookLink"
                        name="facebookLink"
                        class="form-control"
                        placeholder="Facebook Link"
                        required></input>
                </div>
            </div>
        </div>
        <br>
        <!-- LinkedIn Link -->
        <div class="row">
            <div class="col-xs-12">
                <div ng-class="{ 'has-error' : clienteleForm.linkedinLink.$invalid && (clienteleForm.linkedinLink.$dirty || vm.attemptedSend)}">
                    <input ng-model="vm.clientele.linkedinLink" 
                        id="linkedinLink"
                        name="linkedinLink"
                        class="form-control"
                        placeholder="LinkedIn Link"
                        required></input>
                </div>
            </div>
        </div>
    </ng-form>
</div>
<div class="modal-footer">
    <div>
        <button class="btn btn-primary width-full" ng-click="vm.isEdit ? vm.update(clienteleForm) : vm.submit(clienteleForm)">{{ vm.isEdit ? 'Update' : 'Submit' }}</button>
    </div>
</div>