<div class="modal-header">
    <div class="row">
        <div class="col-xs-11">
            <h1 class="modal-title text-primary">{{ vm.isEdit ? 'Edit' : 'Add' }} Blog</h1>
        </div>
        <div class="col-xs-1">
            <span class="fa-stack fa-1x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i ng-click="vm.close()" class="fa fa-close fa-stack-1x fa-inverse cursor-pointer"></i>
            </span>
        </div>
    </div>
</div>
<div class="modal-body">
    <ng-form name="blogForm" id="blogForm" novalidate>
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <div ng-class="{ 'has-error' : blogForm.title.$invalid && (blogForm.title.$dirty || vm.attemptedSend)}">
                        <input type="text" placeholder="Title" class="form-control" ng-model="vm.blog.title" id="title" name="title" required/>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div ng-class="{ 'has-error' : blogForm.subtitle.$invalid && (blogForm.subtitle.$dirty || vm.attemptedSend)}">
                        <input type="text" placeholder="Subtitle" class="form-control" ng-model="vm.blog.subtitle" id="subtitle" name="subtitle" required/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <div ng-class="{ 'has-error' : blogForm.author.$invalid && (blogForm.author.$dirty || vm.attemptedSend)}">
                        <input type="text" placeholder="Author" class="form-control" ng-model="vm.blog.author" id="author" name="author" required/>
                    </div>
                </div>
                <div class="col-xs-6">
                    <input type="file" id="file-chooser" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div ng-class="{ 'has-error' : blogForm.html.$invalid && (blogForm.html.$dirty || vm.attemptedSend)}">
                    <textarea class="form-control" id="html" name="html" placeholder="HTML" ng-model="vm.blog.html" required></textarea>
                </div>
            </div>
        </div>
    </ng-form>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-4pull-right">
            <button class="btn btn-primary" ng-click="vm.isEdit ? vm.update(blogForm) : vm.save(blogForm)">{{ vm.isEdit ? 'Update' : 'Save' }} Blog</button>
        </div>
    </div>
</div>
