<div class="modal-header">
    <div class="row">
        <div class="col-xs-11">
            <h1 class="modal-title text-primary">{{ vm.blogs[vm.index].title }}</h1>
        </div>
        <div class="col-xs-1">
            <span class="fa-stack fa-1x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i ng-click="vm.close()" class="fa fa-close fa-stack-1x fa-inverse cursor-pointer"></i>
            </span>
        </div>
    </div>
    <h3>{{ vm.blogs[vm.index].subTitle }}</h3>
    <h5>Posted {{ vm.blogs[vm.index].postDateTime | date:'MMMM dd, yyyy' }}</h5>
</div>
<div class="modal-body">
    <p ng-bind-html="vm.blogs[vm.index].html"></p>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="padding-top: 20px">
            <div class="team-member">
                <h5>Share this blog</h5>
                <ul class="list-inline social-buttons">
                    <li>
                        <a ng-click="vm.share('TWITTER')"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a ng-click="vm.share('FACEBOOK')"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a ng-click="vm.share('LINKEDIN')"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
